* {
	margin:0;
	padding:0;
}

html {
	background: #222222;
}

body {
	width: 100%;	
	text-align:center;
}

.button {
	display:none;
	width:30px;
	height:30px;
	background-image: url('button.jpg');
	background-size:100%;
	border-radius:20px;
	position:absolute;
	right:-8px;
}

.game {
	width:960px;
	margin:0 auto;
	position: relative;
}

.active {
	display:inline !important;
}

.footer {
	margin:0 auto;
	width: 960px;
	height: 200px;
	background: #555555;
}

.footer button {
	height: 40px;
	width: 100px;
	border: 2px solid gray;
	border-radius:4px;
	font-size:16px;
	font-weight:bold;
	font-family:Helvetica;
	padding: 10px;
	margin:10px;
	display:inline-block;
	float:left;
}

.footer button:hover {
	color: white;
	background: #444444;
}

#table {
	position:relative;
	height:600px;
	background-image: url('POKER-TABLE.jpg');
	background-size:100%;
}

.board {
	position: absolute;
	top:225px;
	left:280px;
	height:96px;
	width:390px;
}

.board span {
	position:relative;
	float:left;
	margin-left:5px;
	width:72px;
	height:96px;
	background-image: url("deck-sprite.png");
	background-size:100%;
}

.hands {
	position:absolute;
	display:inline;
}

.hands span {
	position:absolute;
	display:none;
	width:55px;
	height:75px;
	background-image: url("hand-sprite.png");
	background-size:100%;	
}

#card1 {
	top:78px;
	right:399px;
}

#card2 {
	top:78px;
	right:340px;
}

#card3 {
	right:218px;
}

#card4 {
	right:160px;
}

#card5 {
	right:7px;
}

#card6 {
	right:-52px;
}

#card7 {
	left:162px;
}

#card8 {
	left:219px;
}

#card9 {
	top:78px;
	left:340px;
}

#card10 {
	top:78px;
	left:399px;
}

#card11 {
	top:340px;
	left:340px;
}

#card12 {
	top:340px;
	left:399px;
}

#card13 {
	top:414px;
	left:162px;
}

#card14 {
	top:414px;
	left:219px;
}

#card15 {
	right:7px;
	top:414px;
}

#card16 {
	right:-52px;
	top:414px;
}

#card17 {
	top:414px;
	right:218px;
}

#card18 {
	top:414px;
	right:160px;
}

#card19 {
	top:340px;
	right:399px;
}

#card20 {
	top:340px;
	right:340px;
}

.board span.active {
	display:block;
}

#board1 {
	display:none;
}

#board2 {
	display:none;
}

#board3 {
	display:none;
}

#board4 {
	display:none;
}

#board5 {
	display:none;
}

.seat {
	position: absolute;
	color: #fff;
	line-height: 1.5em;
	background:rgba(3,3,3,0.7);
	width:120px;
	height:50px;
	border-radius: 10px;
	border:2px solid white;
	padding-top:5px;
}

.sit-buttons {
	color:#fff;
	position:absolute;
	display:inline;
	line-height: 1.5em;
	width:120px;
	height:50px;
	border-radius: 10px;
	border: 2px solid white;
	background-color:rgba(3,3,3,0.7);
}

#sit1 {
	top: 150px;
	left: 20px;
}

#sit2 {
	top:70px;
	left:200px;
}

#sit3 {
	top:70px;
	left:410px;
}

#sit4 {
	top:70px;
	right:200px;
}

#sit5 {
	top:150px;
	right:20px;
}

#sit6 {
	bottom:130px;
	right:20px;
}

#sit7 {
	bottom:50px;
	right:200px;
}

#sit8 {
	bottom:50px;
	left:410px;
}

#sit9 {
	bottom:50px;
	left:200px;
}

#sit10 {
	bottom:130px;
	left:20px;
}

/* this will need to change to who the action is on */
.seat:hover {
	box-shadow: 0 0 65px #fff;
	opacity: 1;
}

#seat1 {
	top: 150px;
	left: 20px;
}

#seat2 {
	top:70px;
	left:200px;
}

#seat3 {
	top:70px;
	left:410px;
}

#seat4 {
	top:70px;
	right:200px;
}

#seat5 {
	top:150px;
	right:20px;
}

#seat6 {
	bottom:130px;
	right:20px;
}

#seat7 {
	bottom:50px;
	right:200px;
}

#seat8 {
	bottom:50px;
	left:410px;
}

#seat9 {
	bottom:50px;
	left:200px;
}

#seat10 {
	bottom:130px;
	left:20px;
}


